.gradient-form {
    width: 30%;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.c-btn{
    display: inline;
    background-color: #000;
    padding: 12px 10px;
    width: 20% !important;
}