main.main.site-map .pagetitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-ce {
  background-color: #dfdfdf;
  padding: 0px 10px;
  margin-bottom: 15px;
}